{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <style>
        p,li{
            font-size:18px;
        }
    </style>
{% endblock %}

{% block title %}
    Introduction
{% endblock %}

{% block content %}

    <p>
        Welcome and thank you for participating in our study. 
    </p>
    <p>
        You will receive <b>{{ten}}</b> for participating; this will be yours to keep. You will also have the opportunity to earn more money based on your decisions, the decisions of others, and luck. 
    </p>

    <p>  
        So, please pay attention to the instructions.
    </p>

    {% next_button %}

{% endblock %}
