{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
    <style>
        p,li{
            font-size:18px;
        }
    </style>
{% endblock %}

{% block title %}
    Player 1 
{% endblock %}

{% block content %}

    <h4>
        Round {{round}} 
    </h4>

    <p>
        The value for the secret number is:
    </p>

    <p class="text-center">
        <div class="row">
            <div class="col-md-12">
                <div class="card text-black  mb-3 text-center" style="max-width: 18rem;">
                    <div class="card-header"><b>Secret number</b></div>
                    <div class="card-body">
                        <h1 class="display-1 text-center">{{secret_number}}</h1>
                    </div>
                </div>
            </div>
        </div>

    </p>
    
    {% next_button %}

{% endblock %}
